.Navbar .navbar.is-link {
  background-color: #007bff;
}

.Card {
  margin-bottom: 15px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.Card .CardTitle {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #fff;
  padding: 15px;

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #007bff;
}

.Card .CardBody {
  padding: 10px 30px;
}

.Card .CardBody li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;

  font-size: 0.875rem;
  font-weight: 500;
}

.inputText {
  outline: none;
  border: none;
  font-size: 14px;
  background-color: #fafafb;
  padding: 7.5px;
  border-bottom: 0.5px solid #b7bbbe;
}

.CodeMirror {
  height: 500px;
}

.button-icon-rounded {
  cursor: pointer;
  height: 32px;
  width: 32px;
  bottom: 0;
  right: 0;
  background: #339af0;
  color: #fff;
  border-radius: 50%;
  border: initial;
  z-index: 10;
  transition: 0.2s;
}

.link-icon-rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  bottom: 0;
  right: 0;
  background: #339af0;
  color: #fff;
  border-radius: 50%;
  border: initial;
  z-index: 10;
  transition: 0.2s;
}

.link-icon-rounded:hover {
  color: #fff;
}

.code-actions-container {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.code-actions-container * {
  margin: 0px 5px;
}
